@charset "utf-8";
html{
   font-size:10rem;
   background: #fff;
}
.top{
	padding: 3%;
	background:#ed3232;
}
.top p{
	text-indent:2.5rem;
	color:#fff;
	height:2.5rem;
	
	font-size:1.4rem;
	font-weight: bold;
	position:relative;
}

.top p:first-child i{
	width:1.8rem;
	height:1.8rem;
	display:block;
	position: absolute;
	top:0.6rem;
	left:0.4rem;
	background: url("../image/car1.png") no-repeat center;
	background-size: 100%;
}
.express{
	padding:3%;
}
.express p{
	height:3rem;
	color:#333;
	text-indent:2.5rem;
	line-height:3rem;
	font-size:1.4rem;
	font-weight: bold;
	position:relative;
}
.express p:first-child i{
	width:1.8rem;
	height:1.8rem;
	display:block;
	position: absolute;
	top:0.6rem;
	left:0.4rem;
	background: url("../image/car.png") no-repeat center;
	background-size: 100%;
}
.order_mes{
  padding: 1% 0;
  width:95%;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.mes_left{
  width: 4%;
  height: auto;
  float: left;
  margin-right:2%;
  position: relative; 
}
.wes_right{
	width: 94%;

	 float: right;
}
.wes_cle{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #f0790f;
    position: relative;
    top: 0.2rem;
    left: 0px;
}
.mes_line{
   width: 1rem;
	border-right: 1px solid #f0790f;
	position: relative;
	top: 0;
	left: -0.5rem;
	z-index: -1;	
}

.mes_right{
  width: 85%;
  float: left;
}
.mes_con{
  color:#f0790f;
  font-size: 1.3rem;
}
.wes_con{
  color:#f0790f;
  font-size: 1.3rem;
}
.mes_time{
  margin-top: 0.2rem;
  color:#888;
  font-size: 1.3rem;
}

.orderlist{
	width:100%;
}
.orderlist ul li{
	width:90%;
	padding:2.5%;
	margin:2.5% auto 0;
    background:#fff;
	border:1px solid #cccccc;
}
.orderlist ul li .order-top{
	border-bottom:1px solid #cccccc;
	height: 2.5rem;
	line-height:2.5rem;
	font-size:1.3rem;

}
.order-top .order-state{
	float:right;
	color:#f27225;
}
.order-book{
	overflow:hidden;
	border-bottom:1px solid #ccc;
}
.o-b-l{
	width:30%;
	float:left;
}
.o-b-r{
	margin-top:1rem;
	width:70%;
	float:right;
}
.o-b-l-pic{
	width:6rem;
	height:6rem;
	display: flex;
    justify-content: center;
    align-items: center;
	border-radius:3px;
	margin:0.5rem 10%;
	border:1px solid #ccc;
}
.o-b-l-pic img{
	width:60%;
	margin:0 auto;
}
.o-b-r p{
	width:100%;
	text-indent:1rem;
	height:2.5rem;
	color:#777;
	font-size:1.2rem;
	text-overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;  
}
.order-m{
	width:100%;
	padding:0.5rem 0;
	overflow:hidden;
	color:#777;
	font-size:1.3rem;
	border-bottom:1px solid #ccc;
}
.order-bot{
	float:left;
	padding-left:1rem;
}
.order-money{
	float:right;
}
.o-m-money{
	color:#ed3232;
	font-size:1.4rem;
}
.order-xq-btn{
	width:100%;
	padding:0.8rem 0 0;
	overflow:hidden;
}
.order-xq-btn button{
	background:#fff;
	float:right;
	padding:0.5rem 1.5rem;
	border-radius:3px;
	border:1px solid #ed3232;
	color:#ed3232;
	font-size:1.4rem;
}